


<fabric-page-title class="container fadeInUp animated-500">
        Login
</fabric-page-title>
<section class="container fadeInUp animated-500" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <article class="item item-1 card-white" fxFlex="20%" fxFlex>        
    </article>
    <article class="item item-2 card-white" fxFlex="60%" fxFlex>
            <form class="main-login fadeInUp animated-500" *ngIf="this.isLoggingIn">
                    <div class="form-group">
                        <input type="email" class="form-control" tabindex="1" autofocus #email placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input (keyup.enter)="login(email.value, password.value)" tabindex="2" type="password" class="form-control" #password placeholder="Password">
                    </div>                    
                    <a (click)="login(email.value, password.value)" 
                    href="javascript:void(0)" class="link-button"><span>Log In</span></a>
                    <br />
                    <a (click)="loginVendor(email.value, password.value)" 
                    href="javascript:void(0)" class="link-button"><span>Log In Vendor</span></a>
                </form>
    </article>
    <article class="item item-3 card-white" fxFlex="20%" fxFlex></article>         
</section>