<section class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <article class="item item-1" fxFlex="50%">
        <h3>Welcome to UI Selector</h3>     
        <p>This landing page to switch betwen UI Master templates.  This is a convient way to see which master template will suit our needs.<br/>
            <button mat-button (click)="onHandleClick()">Test Observer</button>            
        </p> 
    </article>
    <article class="item item-2" fxFlex="50%">
        <div>Loading</div>
        color?: string;
    show: boolean;
    backdropColor?: string;
    fullPageBackdrop?: boolean;
    </article>
    
</section>
<section class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <article class="item item-1 card-white" fxFlex="45%">     
             &nbsp;<button mat-button routerLink='/hybrid'>Hybrid</button>      
    </article>
    <article class="item item-2 text card" fxFlex="33%" fxFlexOrder="3">Item 2</article>
    <article class="item item-3 text card" fxFlex="33%">Item 3</article>
</section>
