<mat-toolbar class="example-header">
  <mat-toolbar-row class="toolbar-row-1">
    <img src="../assets/images/logo.svg" class="hubx-logo" />
  </mat-toolbar-row>
  <mat-toolbar-row class="toolbar-row-2">
    <div class="left-btn">
      <span class="left-btn-label">Featrued</span></div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav-ui" [opened]="this.layoutService.layout.sideNavigation"  [mode]="this.layoutService.layout.sideNavigationMode" [fixedInViewport]="true" [fixedTopGap]="148" [fixedBottomGap]="0">
    <mat-nav-list class="mat-nav-list-position">
      <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="sidecontent" class="main-content">   
      <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="example-footer">Footer</mat-toolbar>