.sidenav-container {
    position: absolute;
    top: 148px;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-ui {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 254px;
    background: #493b8d;    
}
.sidenav-ui.small {
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;    
    background: #493b8d;
    height:100vh;
}
.mat-nav-list-position{
    position: absolute;
    top: -10px;
    left:0;
    width: 100%;
    overflow-y: auto;
}

.sidenav {
    width: 200px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
}

.content {
    height: 100vh;
}

.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
}


.example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
}

.example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-content {
    padding: 20px;
    background: #fff;
}

.toolbar-row-1 {
    height: 100px;
    background-color: #FFF;
    padding-top: 23px;

    padding-bottom: 27px;
}

.toolbar-row-2 {
    height: 48px;
    min-height: 48px;
    background-color:#493b8d;
}

.hubx-logo {
    height: 45px;
    width: 160px;
    margin-left:9px;
   
}

/* background: #493b8d;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    height: 48px;
    min-height: 48px;
    font: 500 14px/22px Roboto,"Helvetica Neue",sans-serif;
} */

.left-btn {
    max-width: 268px;
    min-width: 268px;
    min-height: 48px!important;
    max-height: 48px!important;
    background: #ff655b;
    /*padding-top: 13px;
    padding-bottom: 18px;
    padding-right: 13px;*/   
    font: 500 14px/22px Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    position: relative;
    color: #fff;
    text-align: center;
    display:block;
    position:absolute;
    left:0;
 }

 .left-btn:after{
    content: '';
    width: 0;
    height: 0;
    right: 0;
    top: 0;
    position: absolute;
    border-top: 24px solid #4d3b8b;
    border-left: 13px solid #ff655b;
    border-bottom: 24px solid #4c3b8c;
 }
 .left-btn-label{
     position: absolute;
     font-weight: 500;
     font-size: 18px;
     left:20px;
     top:14px;
 }
 
 @media (max-width: 599px){
    .sidenav {
        width: 50px;
    }
 }
 @media(max-width: 600px){
   
 }


 .mat-nav-list .mat-list-item{
    color:#ffff;
    font-weight: 400;
}