fabric-page-title {
    display: block;
    font-size: 20px;
}

fabric-section-title {
    display: block;
    font-size: 18px;
}

fabric-title {
    display: block;
    font-size: 16px;
}

fabric-view {
    display: block;
}

fabric-item {
    display: block;
}

fabric-child {
    display: block;
}

fabric-main {
    height: 100vh;
    display: block;
}

app-vendor-main,
app-buyer-main {
    padding: 15px;
    display: block;
}

/* 
.mat-drawer-container {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden
}

.mat-drawer-container[fullscreen] {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute
}

.mat-drawer-container[fullscreen].mat-drawer-opened {
  overflow: hidden
}

.mat-drawer-container.mat-drawer-container-explicit-backdrop .mat-drawer-side {
  z-index: 3
}

.mat-drawer-backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: 3;
  visibility: hidden
}

.mat-drawer-backdrop.mat-drawer-shown {
  visibility: visible
}

.mat-drawer-transition .mat-drawer-backdrop {
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25, .8, .25, 1);
  transition-property: background-color, visibility
}

@media screen and (-ms-high-contrast:active) {
  .mat-drawer-backdrop {
    opacity: .5
  }
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto
}

.mat-drawer-transition .mat-drawer-content {
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25, .8, .25, 1);
  transition-property: transform, margin-left, margin-right
}

.mat-drawer {
  position: relative;
  z-index: 4;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  outline: 0;
  box-sizing: border-box;
  overflow-y: auto;
  transform: translate3d(-100%, 0, 0)
}

@media screen and (-ms-high-contrast:active) {
  .mat-drawer,
  [dir=rtl] .mat-drawer.mat-drawer-end {
    border-right: solid 1px currentColor
  }
}

@media screen and (-ms-high-contrast:active) {
  .mat-drawer.mat-drawer-end,
  [dir=rtl] .mat-drawer {
    border-left: solid 1px currentColor;
    border-right: none
  }
}

.mat-drawer.mat-drawer-side {
  z-index: 2
}

.mat-drawer.mat-drawer-end {
  right: 0;
  transform: translate3d(100%, 0, 0)
}

[dir=rtl] .mat-drawer {
  transform: translate3d(100%, 0, 0)
}

[dir=rtl] .mat-drawer.mat-drawer-end {
  left: 0;
  right: auto;
  transform: translate3d(-100%, 0, 0)
}

.mat-drawer:not(.mat-drawer-side) {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12)
}

.mat-sidenav-fixed {
  position: fixed
} */