fabric-page-title{
    display: block;
    font-size: 20px;
}
fabric-section-title{
    display: block;
    font-size: 18px;
}
fabric-title{
    display: block;
    font-size: 16px;
}
fabric-view { 
    display:block;
}
fabric-item { 
    display:block;
}

fabric-child { 
    display:block;
}