<app-toolbar>
    <section class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <article class="item item-1" fxFlex="85%">
            <h3>Material</h3>
            <button mat-button (click)="onToggle()">Show/Hide Menu</button>
            <button mat-button (click)="onSwitchMode()">Switch Mode</button>({{this.ctx.ux.props.mode}})
        </article>
    </section>
    <section class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <article class="item item-1 card-white" fxFlex="45%">
            <button mat-button routerLink='/fabric'>Fabric</button>&nbsp;|&nbsp;<button mat-button routerLink='/hybrid'>Hybrid</button>
        </article>
        <article class="item item-2 text card" fxFlex="20%" fxFlexOrder="3">Item 2</article>
        <article class="item item-3 text card" fxFlex>Item 3</article>
    </section>
</app-toolbar>