.text{
    padding-top:5px;
}
.card {
    background: #ccc;
    padding:15px;
    margin-top:2px;
}

.card-white{
    background: #fff;
    border: 1px #ccc solid;
    padding:15px;margin-top:2px;
    margin-top:2px;
}

.app-loader {
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top:0;
    background: #ccc;
}