.hubx-logo {
    height: 45px;
    width: 160px;;
}
fabric-shell {
    height: 100vh;
    display:block;
    min-height: 100vh;
    width:100vw;
    min-width:100vw;
}
.text{
    padding-top:5px;
}

.fabric-sidenav-list{
    margin-top:-10px;
}

.mat-nav-list .mat-list-item{
    color:#ffff;
    font-weight: 400;
}

.card-white{
    margin-top:2px;
    background: #fff;
    border: 1px #ccc solid;
    padding:15px;margin-top:2px;
}
.card{
    background: #ccc;
    margin-top:2px;
    padding:15px;margin-top:2px;
}