<fabric-mat-shell>
    <main mainContent>
        <section class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <article class="item item-1" fxFlex="85%">
                <h3>Hybrid</h3>                
            </article>
        </section>
        <section class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <article class="item item-1 card-white" fxFlex="45%">
                Item 1
            </article>
            <article class="item item-2 text card" fxFlex="20%" fxFlexOrder="3">Item 2</article>
            <article class="item item-3 text card" fxFlex>Item 3</article>
        </section>
    </main>
</fabric-mat-shell>